<h1 style="text-align: center; font-family: Arial, sans-serif; color: #333; margin-bottom: 20px;">
  New Tweet
</h1>

<div class="tweet-form-container">
  <%= render "form", tweet: @tweet %>
</div>

<div class="back-link-container">
  <%= link_to "Back to tweets", tweets_path, class: "back-link" %>
</div>
